<% unless params[:errors].nil? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(params[:errors].size, "error") %>.
    </div>
  <ul>
  <% params[:errors].each do |msg| %>
    <li>* <%= msg %></li>
  <% end %>
  </ul>
  </div>
<% end %>

