<% provide(:title, "Buy") %>

<% if current_user %>
  <div class="center">
    <%= search_form_for @search, url: buy_path, action: "/search", 
      method: "get", id: "buy_search" do |f| %>
      <div id="dynamic_search_field"><%= render 'search_field' %></div>
    <% end %>
  </div>
  <div class="row-fluid">
    <div class="span10"><h3>Textbook Listings</h3></div>
    <div class="span2">
    <label class="checkbox">
      <input type="checkbox"> <strong>Facebook friends only?</strong><br />
    </label>
    </div>
  </div>
  <div id="search_results"></div>
  <div id="textbook_listings"><%= render 'browse' %></div>
<% else %>
  <div class="alert alert-error">
    You must sign in with Facebook in order to access this page!
  </div>
<% end %>

