<% provide(:title, "Guidelines") %>
<br />

<p class="alert alert-info"><b>The recommended guidelines are a set of protocol that Terrapin Texts advises all participants follow to ensure that everyone has a positive experience.</b></p>

<div class="well">
<h3>Selling</h3>
<br />
<ul>
<li>Terrapin Texts was created to help students keep more money in their pockets by selling to other students to remove the mark-up in pricing added on by profit-seeking businesses. <b>Keep this idea in mind and try to list your books at lower prices than those of the bookstores.</b></li>
<li><b>Be open to price negotiations. </b>Not being open to renegotiating a price can narrow the field of potential buyers.</li>
<li><b>Accurately label the condition that the book is in. </b>If you are unsure about the condition, list any discrepancies in the description section.</li>
<li>The “Date Available for Sale” section is for students to identify when the books they are willing to sell will be available for purchase. This is intended to give students the best ability to arrange transactions in a timely matter, as well as give students the utmost knowledge and confidence in the availability of the book that they seek to buy. <b>The date that you list in this section should be the earliest date that you would no longer use your textbook.</b></li>
<li><b>To remove a listing, </b>go to the “Sell” tab (top of the page) and then scroll to the bottom to see your listings. Click the “X” in the top right-handed corner of the shaded box around the book listing of that you wish to delete.</li>
<li><b>To edit or change a book listing </b>you will need to remove your original listing and then post another listing with the correct information.</li>
</ul>
</div>

<div class="well">
<h3>Buying</h3>
<br />
<ul>
<li><b>Message sellers to negotiate prices as needed.</b></li>
<li><b>Send both a Facebook message and email </b>when initially trying to contact a seller.</li>
<li><b>The category “Available” lists the earliest date that the seller will be available to provide the book.</b></li>
</ul>
</div>

<div class="well">
<h3>Conducting the Transaction</h3>
<br />
<ul>
<li><b>Conduct all transactions in a public location.</b> Traditionally, McKeldin Library, Adele H. Stamp Student Union, North Campus Diner, and South Campus Diner have been used by students to conduct small transactions with another person. Terrapin Texts is obligated to inform you that all transactions on state property (ie. property owned by the University System of Maryland) are illegal unless otherwise sanctioned by the state (ie. University of Maryland).
</li>
<li><b>Check the item or compensation that you are receiving to ensure that it is consistent with the offer that you agreed upon.</b></li>
<li><b>It can be beneficial to document the transaction.</b></li>
</ul>
</div>

<div><center>
	<a class="btn btn-custom btn-primary btn-large" href=<%= buy_url %>>
      Got it!
    </a>
</center></div>