<% provide(:title, "Home") %>
<div class="hero-unit center">
  <h1>Welcome to Texts4Terps!</h1>
  <p style="padding-bottom:10px;"><em>Never visit a bookstore again. Exchange textbooks directly with your fellow UMD students!</em></p>

    <a class="btn btn-custom btn-primary btn-large" href=<%= root_path + "users/new" %>>
      Connect with Facebook to Get Started
    </a>
  </p>
</div>

